
body {
    margin: 20;
    
}

.pro {
    text-decoration: underline;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 49%);
}

.typewriter2 h3 {
    color: rgb(0, 0, 0);
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin: 0 auto 15;
}

.typewriter3 {
    color: rgb(0, 0, 0);
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin: 0 auto 10;
}

.typewriter2 h1 {
    color: rgb(0, 0, 0);
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto 5; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .0em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(60, end),
      blink-caret .75s step-end infinite;
}

.typewriter h1 {
    color: rgb(0, 0, 0);
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto 30; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .0em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(60, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .text {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .pay {
    text-align: center;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .purchase {
    text-align: center;
    margin: 25;
  }
  .topContainer {
    text-align: center;
    margin: 0;
  }

  .mainimage {
    border-radius: 15%;
    border-style:solid;
  }