
body {
    margin: 30;
}

.pro {
    text-decoration: underline;
}
.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1500px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
  }

  .slider {
    border-width: 3;
    border-color: black;
    border-style: solid;
    border-radius: 15%;
  }

  .text {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
  }

  .buyButton {
    background-color: aqua;
    font-size: 20px;
    padding: 20;
    border-radius: 20%;
  }

  .buyButton:hover {
    background-color: cyan; /* Green */
    color: white;
  }

  .purchase {
    text-align: center;
    margin: 25;
  }